.primary-bg {
    background-color: #1C64F2;
}

.primary-text {
    color: #1C64F2;
}

.input-bg {
    background-color: #F9FAFB;
}

.secondary-text {
    color: #6B7280;
}

.primary-border-b {
    border-bottom: 1px solid #1C64F2;
}

.accent-text {
    color: #4B5563;
}

.neutral-text {
    color: #111928;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color:  #1C64F2;
}